html {
  --type-height: 130px;
  --type-active-height: 280px;
}

body,
input {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #fcf6e6;
  color: #1a1919;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
}

#types {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -140px;
  gap: 0px;
}

.type {
  font-weight: 100;
  color: #b8b3a7;
  font-size: var(--type-height);
  height: var(--type-height);
  line-height: var(--type-height);
  font-style: italic;
  transition: translate 0.3s ease-out, font-size 0.8s ease-out;
}

.type.active {
  color: #1a1919;
  font-weight: 900;
  font-size: var(--type-active-height);
  height: var(--type-active-height);
  line-height: var(--type-active-height);
  translate: 50px;
  font-style: normal;
}

#typesdesc {
  font-family: "Georgia", serif;
  color: #1a1919;
}

.typedesc {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 400px;
  font-size: 22px;
  line-height: 1.3em;
  text-align: left;
  width: 600px;
  margin-top: calc(var(--type-active-height) / 2);
  transition: opacity 0.5s ease-in;
}

.typedesc.active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

#cfs {
  position: absolute;
  top: 100px;
  right: 100px;
  bottom: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cf {
  display: flex;
  align-items: start;
  position: relative;
}

.cfa {
  font-weight: 900;
  font-size: 120px;
  height: 120px;
  margin-right: 20px;
}

.cfb {
  font-weight: 100;
  font-size: 80px;
  font-style: italic;
  color: #b8b3a7;
  margin-top: 36px;
  height: 120px;
  line-height: 120px;
}

.cfdesc {
  font-family: "Georgia", serif;
  color: #b8b3a7;
  font-weight: 400;
  font-size: 30px;
}
