html {
  --type-height: 130px;
  --type-active-height: 280px;
  --bg-color: #fcf6e6;
  --primary-color: #1a1919;
  --secondary-color: #b8b3a7;
}

body,
input {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  -webkit-user-select: none;
}

#types {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -140px;
  z-index: 0;
  gap: 40px;
}

.type {
  font-weight: 100;
  color: var(--secondary-color);
  font-size: var(--type-height);
  height: var(--type-height);
  line-height: var(--type-height);
  font-style: italic;
  transition: translate 0.5s ease-out, font-size 0.8s ease-out;
}

.type:hover {
  cursor: pointer;
  opacity: 0.6;
}

.type.active {
  color: var(--primary-color);
  font-weight: 900;
  font-size: var(--type-active-height);
  font-style: normal;
  height: var(--type-active-height);
  line-height: var(--type-active-height);
  translate: 50px;
}

.type.active:hover {
  opacity: 1;
  cursor: normal;
}

#typesdesc {
  font-family: "Georgia", serif;
  color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 400px;
  font-size: 22px;
  line-height: 1.3em;
  text-align: left;
  width: 600px;
  height: 300px;
  z-index: 1;
}

.typedesc {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(var(--type-active-height) / 2);
  transition: opacity 0.5s ease-in;
  -webkit-user-select: initial !important;
}

.typedesc.active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

#cfs {
  position: absolute;
  right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  translate: 0 -50%;
  gap: 50px;
  width: 400px;
}

.cf {
  border: 1px solid transparent;
  cursor: pointer;
  width: 400px;
}

.cfspanwrap {
  width: 400px;
  height: 140px;
  position: relative;
}

.cf * {
  pointer-events: none;
}

.cfspanwrap > * {
  transition: font-size 0.5s ease-out;
  cursor: pointer;
  display: inline-block;
  transform-origin: 0 100%;
  position: relative;
  line-height: 1em;
}

.cfa {
  font-weight: 900;
  font-size: 120px;
  height: 120px;
  margin-right: 20px;
}

.cfb {
  font-weight: 100;
  font-size: 80px;
  font-style: italic;
  color: var(--secondary-color);
}

.cf:hover .cfb {
  opacity: 0.4;
}

.cfdesc {
  font-family: "Georgia", serif;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 30px;
}

@keyframes shake {
  0% {
    translate: 0 0;
  }
  25% {
    translate: -5px 0;
  }
  50% {
    transform: 0 0;
  }
  75% {
    transform: 5px 0;
  }
  100% {
    transform: 0 0;
  }
}

.cf.dragging {
  opacity: 0.2;
}

.cf.droppable {
  opacity: 0.6;
  animation: shake 0.2s ease-in-out infinite;
}

.cf.droppable > * {
  transition: translate 0.15s ease-out;
}

.cf.droppable.over > * {
  translate: 100px 0;
}
